OL2_OpenLayers          RCDATA "OpenLayers.js"
OL2_OpenStreetMap       RCDATA "OpenStreetMap.js"
OL2_img_cpr             RCDATA "img\cloud-popup-relative.png"
OL2_img_em              RCDATA "img\east-mini.png"
OL2_img_lsmax           RCDATA "img\layer-switcher-maximize.png"
OL2_img_lsmin           RCDATA "img\layer-switcher-minimize.png"
OL2_img_nm              RCDATA "img\north-mini.png"
OL2_img_s               RCDATA "img\slider.png"
OL2_img_sm              RCDATA "img\south-mini.png"
OL2_img_wm              RCDATA "img\west-mini.png"
OL2_img_zmm             RCDATA "img\zoom-minus-mini.png"
OL2_img_zpm             RCDATA "img\zoom-plus-mini.png"
OL2_img_zb              RCDATA "img\zoombar.png"
OL2_thm_def_close       RCDATA "theme\default\img\close.gif"
OL2_thm_def_style       RCDATA "theme\default\style.css"

