#define ETD_Latest_Gui    0
#define ETD_Latest_PH     1
#define ETD_Latest_OBetz  2

#define ETD_Credits_GUI   5
#define ETD_Credits_ET    6
#define ETD_GNUGPL        7

#define ETD_Home_Gui     10
#define ETD_Home_PH      11
#define ETD_Home_OBetz   12

#define ETD_Online_Doc   20
#define ETD_Edge_Dll     21
#define ETD_Edge_Runtime 22
#define ETD_Reqs         23

#define ETD_GeoCode      30
#define ETD_OverPass     31

STRINGTABLE
{
// Url's for latest version check
    ETD_Latest_Gui,     "https://api.github.com/repos/FrankBijnen/ExifToolGui/releases/latest"
    ETD_Latest_PH,      "https://exiftool.org/ver.txt"
    ETD_Latest_OBetz,   "https://oliverbetz.de/cms/files/Artikel/ExifTool-for-Windows/exiftool_latest_version.txt"

// Credits
    ETD_Credits_GUI,    "by Bogdan Hrastnik\nAdapted for RAD11 by Frank B"
    ETD_Credits_ET,     "ExifTool by Phil Harvey"

// URL for GNU
    ETD_GNUGPL,         "http://www.gnu.org/copyleft/gpl.html"

// Url's for homepages
    ETD_Home_Gui,      "https://github.com/FrankBijnen/ExifToolGui"
    ETD_Home_PH,       "https://exiftool.org"
    ETD_Home_OBetz,    "https://oliverbetz.de/pages/Artikel/ExifTool-for-Windows"

// Url for online doc
    ETD_Online_Doc      "https://github.com/FrankBijnen/ExifToolGui/blob/main/Docs/ExifToolGUI_V6.md"
    ETD_Edge_Dll        "/#m_edge_dll"
    ETD_Edge_Runtime    "/#m_edge_runtime"
    ETD_Reqs            "/#m_reqs_exiftool"

// Url's for Geode providers
    ETD_GeoCode,        "https://geocode.maps.co"
    ETD_OverPass,       "https://overpass-api.de/api"
}
